@charset "utf-8";
/* General reset */
.login-div{
  display: flex;
  height: 100%;
  width: 100%;
}

/* LEFT SIDE */
.login-image-div{
  position: fixed;
  left: 0;
  width: 33%;
  height: 100%;
  overflow: hidden;
  flex: 1;
  display: flex; 
  justify-content: space-between; 
  flex-direction: column;
}

.login-image-div::before,
.login-image-div::after{
  content: '';
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.login-image-div::before{
  background-image: url('../../all-images/body-pix/admin-slide-1.jpeg');
  animation: fade1 9s infinite;
}

.login-image-div::after{
  background-image: url('../../all-images/body-pix/admin-slide-2.jpeg');
  animation: fade2 9s infinite;
}

@keyframes fade1{
  0%,45%{opacity:1;}
  50%,95%{opacity:0;}
  100%{opacity:1;}
}

@keyframes fade2{
  0%,45%{opacity:0;}
  50%,95%{opacity:1;}
  100%{opacity:0;}
}

.login-image-div .logo-div{
  width:220px;
  margin: 40px;
  overflow: hidden;
  background: var(--bg-white);
  border-radius: 10px;
  z-index: 200;
}

.login-image-div .logo-div img{
  width:100%;
}

.login-image-div .bottom-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #ffffff;
    padding: 350px 40px 80px 40px;
    background: linear-gradient(to top, #000000, transparent);
     z-index: 200;
}

.login-image-div .bottom-container h1{
    font-size: 24px;
    font-family: sub-title-font;
    color: var(--text-white);
}

.login-image-div .bottom-container span{
    color: var(--secondary-color);
}

.login-image-div .bottom-container p{
    color: var(--text-white);
    font-size: 16px;
}

/* RIGHT SIDE */
.login-card-div{
  position: absolute;
  width: 67%;
  height: 100%;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--bg-white);
  overflow: auto;
}

/* FORM SECTION */
.login-card-div .form-section{
  width: 90%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.login-card-div .form-section .logo-div{
  width:220px;
  overflow: hidden;
}

.login-card-div .form-section .logo-div img{
  width:100%;
}

.login-card-div .form-section .form-div{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.login-card-div .form-section .form-div h1{
  font-size:25px;
  font-family:sub-title-font;
  color:var(--body-color);
}

.login-card-div .form-section .form-div h1 span{
  color:var(--secondary-color);
}

.login-card-div .form-section .form-div p{
  font-size:14px;
  color:var(--text-color);
}

.login-card-div .form-section .form-div .inner-form{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.login-card-div .form-section .form-div .inner-form .btn-div .btn {
  border: none;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 10px;
  font-family: sub-title-font;
  align-self: self-start;
  padding: 0px 25px;
  font-size: 15px;
  color: var(--text-white);
  background: var(--primary-color);
  transition: background-position 0.4s ease-in-out, transform 0.2s ease-in-out;
}

.login-card-div .form-section .form-div .inner-form .btn-div .btn:hover {
  background-size: 200% 100%;
  background-position: right;
  transform: scale(1.01); /* subtle hover grow */
}

.login-card-div .form-section .form-div .inner-form .btn-div a {
  color: var(--link-color);
}

.form-alert-div{
    margin: 0px;
}

.login-card-div .form-section .form-div .inner-form .forgot-pass-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--text-color);
  font-family: sub-title-font;  
}

.login-card-div .form-section .form-div .inner-form .forgot-pass-container label{
  cursor: pointer;
}

.login-card-div .form-section .form-div .inner-form .forgot-pass-container .forgot-container{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: var(--sub-body-color);
  transition: all 0.2s ease-in 0.2s;
}

.login-card-div .form-section .form-div .inner-form .forgot-pass-container .forgot-container span{
  color: var(--link-color);
}

.login-card-div .form-section .form-div .inner-form .forgot-pass-container .forgot-container span:hover {
  color: var(--secondary-color);
}

.login-card-div .form-section .form-div .inner-form .register-container  {
  color: var(--text-color);
  font-family: body-font;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.login-card-div .form-section .form-div .inner-form .register-container span {
  cursor: pointer;
  font-family: sub-title-font;
  transition: all 0.2s ease-in 0.2s;
}
.login-card-div .form-section .form-div .inner-form .register-container span:hover {
  color: var(--secondary-color);
}

.login-card-div .form-section .form-div .inner-form .reset-password {
  color: var(--sub-body-color);
  cursor: pointer;
}

.login-card-div .form-section .form-div .inner-form .reset-password span{
  color: var(--link-color);
  font-family: sub-title-font;
  transition: all 0.2s ease-in 0.2s;
}

.login-card-div .form-section .form-div .inner-form .reset-password span:hover {
  color: var(--secondary-color);
}

.login-card-div .form-section .form-div .inner-form .resendOtpBtn{
    cursor: pointer;
    display: none;
    background: none;
    border: none;
    font-family: body-font;
    font-size: 14px;
    color: var(--link-color);
}

.login-card-div .form-section .form-div .inner-form .resendOtpBtn:hover{
    text-decoration: underline;
    color: var(--secondary-color);
}

.login-card-div .form-section .form-div .inner-form #resendCountdown{
    font-family: body-font;
    color: var(--link-color);
}

.login-card-div .form-section .form-div .inner-form .pswd_info{
	font-size: 12px;
	font-family: body-font;
	color: var(--text-color);
}

.login-card-div .footer-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--text-color);
  font-family: body-font;
  position: absolute;
  bottom: 20px;
}

.otp-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}

.otp-container .otp_text_field{
  width: 65px; 
  height: 65px;
  text-align: center;
  border: #e2e2e2 1px solid;
	background:var(--bg-white);
  border-radius: 5px;
	font-family: sub-title-font;
	box-sizing: border-box;
	color: #1e1e1e;
  font-size: 18px;
  outline: none !important;
}

.otp-container .otp_text_field:focus {  
  background: #fff;
  border: #f1c40f 1px solid;
}


@media all and (max-width: 930px) {	
	.login-image-div{
    display: none; 
  }
  .login-card-div{
    width: 100%;
  }
}